# Backend
backend/venv/
backend/__pycache__/
backend/**/__pycache__/
backend/.env
*.pyc

# Frontend
node_modules/
frontend/node_modules/
frontend/dist/
frontend/.env

# General
.DS_Store
*.log

# Raíz (Docker)
.env